<button class="btn btn-warning" data-bs-target="#signupModal" data-bs-toggle="modal" type="button"
        xmlns="http://www.w3.org/1999/html">Sign-up
</button>
<div aria-hidden="true" class="modal fade" id="signupModal" tabindex="-1">
    <div class="modal-dialog" style="color: black;">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Sign-up</h1>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <form action="/signup" method="POST">
                    <div class="form-floating mb-3">
                        <input class="form-control rounded-3" id="username" name="username" placeholder="Username"/>
                        <label for="username">Username</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="password" name="password" placeholder="Password"
                               type="password"/>
                        <label class="form-label" for="password">Password</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="password2" name="password2" placeholder="Password"
                               type="password"/>
                        <label class="form-label" for="password2">Password (repeat)</label>
                    </div>
                    <div>
                        <button class="btn btn-primary" type="submit">Sign me up!</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>